.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.class
/app/build
/app/build/generated
/app/build/outputs
/app/build/intermediates/symbols
/app/build/intermediates/resources
/app/build/intermediates/assets
/app/build/intermediates/classes
/app/build/intermediates/dex
/app/build/intermediates/incremental
/app/build/intermediates/pre-dexed
/app/build/intermediates/res
/app/build/intermediates/manifests
/app/build/intermediates
/.idea
