google-services.json
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.class
build
build/generated
build/outputs
build/intermediates/symbols
build/intermediates/resources
build/intermediates/assets
build/intermediates/classes
build/intermediates/dex
build/intermediates/incremental
build/intermediates/pre-dexed
build/intermediates/res
build/intermediates/manifests
build/intermediates
app-release.apk
/.idea
austinfeedsme.properties
*.iml
.idea/*
/projectFilesBackup
